<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" parallel="none">

<listeners>
	<listener class-name="Com.NF.Config.Listener" />
	</listeners>
 <test name="Addmembershiptoorg">
  
 			<parameter name="Launch_Application_inputs" value="C:\\NetforumUpgradeInMaven\\NetforumUpgrade\\NF_Input.xlsx,LaunchNF"></parameter>
		  	<parameter name="Add_Organization_Inputs" value="C:\\NetforumUpgradeInMaven\\NetforumUpgrade\\NF_Input.xlsx,ADDorg"></parameter>		  	
			<parameter name="Verifyorg_Inputs" value="C:\\NetforumUpgradeInMaven\\NetforumUpgrade\\NF_Input.xlsx,VerifyOrg"></parameter>
			<parameter name="AddMembership" value="C:\\NetforumUpgradeInMaven\\NetforumUpgrade\\NF_Input.xlsx,ADDMembership"></parameter>
			<parameter name="AddRelatedOrg" value="C:\\NetforumUpgradeInMaven\\NetforumUpgrade\\NF_Input.xlsx,AddRelatedOrg"></parameter>
			<classes>
	 			 <class name="Com.NF.NetForumScenarious.LaunchandLoginintoNF15">
	 			 <methods>
	 			 <include name="LaunchApplication"></include>
	 			 </methods>
	 			 </class>
		  	  	 <class name="Com.NF.NetForumScenarious.Addorganization"/>
		  	  	 <class name="Com.NF.NetForumScenarious.VerifyOrganization"/>
		  	  	 <class name="Com.NF.NetForumScenarious.AddOrgMembership"/>
		  	  	  <class name="Com.NF.NetForumScenarious.AddRelatedorganization"/>
		  	</classes>
 
  </test> 

  <test name="FindOrganizationbyexcelfile">
		<parameter name="Launch_Application_inputs" value="C:\\NetforumUpgradeInMaven\\NetforumUpgrade\\NF_Input.xlsx,LaunchNF"></parameter>
		<parameter name="FindOrganization_Inputs_excelsheet" value="C:\\NetforumUpgradeInMaven\\NetforumUpgrade\\NF_Input.xlsx,FIndOrgStoreValue"></parameter>
			<classes>
  				<class name="Com.NF.NetForumScenarious.LaunchandLoginintoNF15"/>
  				<class name="Com.NF.NetForumScenarious.fFindOrganizationbyexcelvalue"/>	
		  	  
  			</classes>
  
  
  </test>
  
</suite> <!-- Suite -->
